
.lg-container {
 display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; 
    background-image: url('./bg.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    overflow: hidden;
    position: relative;
    
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.lgn-container {
    max-width: 400px;
    margin: 60px auto;
    padding: 50px;
    background: #4DF6E4;
    border-radius:50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 11);
    text-align: center;
background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(199,148,233,1) 100%);
}

h2 {
    text-align: center;
    color: #333;
    animation-delay: 0.3s;
    animation: fadeInUp 1.2s ease-in-out forwards;

}

.input-group {
    margin-bottom: 15px;
}



input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 11);
    border-radius: 5px;
    font-size: 16px;
    animation: fadeInUp 1.2s ease-in-out forwards;

}

.lg-button {
    width: 100%;
    padding: 10px;
    background-color: black; 
    color: white;
        border: none;
    box-shadow: 0 2px 10px rgb(255, 255, 255);

    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    
    animation-delay: 0.3s;
    animation: fadeInUp 1.2s ease-in-out forwards;

}

.lg-button:hover {
    background-color: #ff53e6; 
        color: black;

}

.kpopup-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
}


.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
}


.popup-content p {
    margin: 0;
    font-size: 16px;
    color: #333;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.footer-text {
    text-align: center;
    margin-top: 15px;
    color: #0B0C0C;
}

.footer-text a {
               color: black;

    text-decoration: none;
    animation-delay: 0.7s;
    animation: fadeInUp 1.2s ease-in-out forwards;

}

.footer-text a:hover {
    text-decoration: none;
 color: #ffff;
}
